listen_address = "localhost"
listen_port = 19827
template_texts = ["こんにちは！", "お疲れさまでした。失礼します。"]
log_file = "./log/voice_%%Y_%%m_%%d.log"
log_level = "INFO"
recording_log = false
recording_log_dir = "./reclog"
[[filters]]
pattern = "foo"
replaced = "bar"

[[filters]]
pattern = "嫌い"
replaced = "好き"

[recording]
enable = true
routes_list = [
    [
        "transcription",
        "subtitle",
    ],
    [
        "transcription",
        "translation",
        "subtitle_translated",
    ],
    [
        "transcription",
        "vc",
        "playback",
    ],
]
format = 4
channels = 1
rate = 16000
chunk = 12800
interval_sec = 0.8
silence_threshold = -45
max_recording_sec = 10.0
input_host_api_name = ""
input_device_name = ""
input_device_index = 0

[transcription]
enable = true
worker_type = "ACP"
transliterate_with_mozc = false

[tts]
enable = true
worker_type = "VR2"

[playback]
enable = true
volume = "100"
output_host_api_name = ""
output_device_name = ""
output_device_index = 1

[subtitle]
enable = true
window_width = 1920
window_height = 120
bg_color = "systemTransparent"

[translation]
enable = true
source_language_code = "ja"
target_language_code = "en"

[vc]
enable = true

[ami]
appkey = ""
engine_name = ""
engine_uri = ""
service_id = ""
request_timeout = 30.0
extra_parameters = "keepFillerToken=0"

[gcp]
project_id = ""
service_account_file_path = ""
request_timeout = 3.0
max_retry_count = 5
retry_delay_sec = 0.1
location = "asia-northeast1"

[vr2]
voice_name = "akari_44"

[whisper]
model = "small"
no_speech_prob_threshold = 0.6
logprob_threshold = -1.0

[voicevox]
speaker_id = 2
openjtalk_dir = "./open_jtalk_dic_utf_8-1.11"

[rvc]
model_file = "./dummy_simple.onnx"
hubert_model_file = "./hubert_base.pt"
f0_up_key = 12
window = 160
quality = 0
gpu_id = 0
f0_extractor_type = "harvest"

[subtitle.text]
display_sec_per_letter = 0.4
min_display_sec = 6.0
max_text_len = 32
font_size = 24
font_family = "Meiryo UI"
font_style = "bold"
font_color = "#ffffff"
outline_color = "#000000"

[subtitle.translated]
display_sec_per_letter = 0.2
min_display_sec = 6.0
max_text_len = 40
font_size = 22
font_family = "Meiryo UI"
font_style = "bold"
font_color = "#ffffff"
outline_color = "#000000"

[gcp.service_account_info]

[vr2.params]
volume = 1.0
speed = 1.0
pitch = 1.0
emphasis = 1.0
pause_middle = 150.0
pause_long = 370.0
pause_sentence = 800.0
master_volume = 1.0

[voicevox.params]
speed_scale = 1.0
pitch_scale = 0.0
intonation_scale = 1.0
volume_scale = 1.0
pre_phoneme_length = 0.1
post_phoneme_length = 0.1
