{
    "format": 8,
    "channels": 1,
    "rate": 16000,
    "chunk": 8000,
    "record_interval_sec": 0.5,
    "silence_threshold": 6.5,
    "max_recording_sec": 5.0,
    "transcription_worker_type": "WHISPER",
    "ami_appkey": "",
    "ami_engine_name": "-a-general",
    "ami_engine_uri": "https://acp-api.amivoice.com/v1/nolog/recognize",
    "ami_service_id": "",
    "ami_request_timeout": 3.0,
    "gcp_project_id": "",
    "gcp_credentials_file_path": "",
    "gcp_request_timeout": 3.0,
    "min_subtitle_display_sec": 2.5,
    "subtitle_font_size": 20,
    "subtitle_font_family": "Meiryo UI",
    "subtitle_font_style": "bold",
    "input_host_api_name": "",
    "input_device_name": "",
    "input_device_index": null,
    "output_host_api_name": "",
    "output_device_name": "",
    "output_device_index": null,
    "speech_worker_type": "VOICEVOX",
    "vr2_params": {
        "volume": 1.0,
        "speed": 1.0,
        "pitch": 1.0,
        "emphasis": 1.0,
        "pause_middle": 150.0,
        "pause_long": 370.0,
        "pause_sentence": 800.0,
        "master_volume": 1.0
    },
    "vr2_voice_name": "",
    "whisper_model": "small",
    "voicevox_core_dir": "voicevox_core",
    "voicevox_speaker_id": "1",
    "openjtalk_dir": "voicevox_core\\open_jtalk_dic_utf_8-1.11",
    "enable_translation": false,
    "log_file": "./voice_%%Y_%%m_%%d.log",
    "log_level": "INFO"
}