[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "*"
pysoundfile = "*"
scipy = "*"
httpx = "*"
pydantic = "*"
click = "*"
websocket-client = "*"

[dev-packages]
docutils = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
