aiofiles==23.1.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==3.6.2 ; python_version >= "3.10" and python_version < "3.12"
cachetools==5.3.0 ; python_version >= "3.10" and python_version < "3.12"
certifi==2023.5.7 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.1.0 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.3 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
google-api-core==2.11.0 ; python_version >= "3.10" and python_version < "3.12"
google-api-core[grpc]==2.11.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth==2.18.1 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-core==2.3.2 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-speech==2.19.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-translate==3.11.1 ; python_version >= "3.10" and python_version < "3.12"
googleapis-common-protos==1.59.0 ; python_version >= "3.10" and python_version < "3.12"
grpcio-status==1.54.2 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.54.2 ; python_version >= "3.10" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
httpcore==0.17.2 ; python_version >= "3.10" and python_version < "3.12"
httpx==0.24.1 ; python_version >= "3.10" and python_version < "3.12"
idna==3.4 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.23.5 ; python_version >= "3.10" and python_version < "3.12"
proto-plus==1.22.2 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.23.1 ; python_version >= "3.10" and python_version < "3.12"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "3.12"
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
pydantic==1.10.8 ; python_version >= "3.10" and python_version < "3.12"
pyhumps==3.8.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.6.1 ; python_version >= "3.10" and python_version < "3.12"
urllib3==1.26.16 ; python_version >= "3.10" and python_version < "3.12"
voicevox-core @ https://github.com/VOICEVOX/voicevox_core/releases/download/0.14.3/voicevox_core-0.14.3+cpu-cp38-abi3-linux_x86_64.whl ; platform_machine == "x86_64" and sys_platform == "linux" and python_version >= "3.10" and python_version < "3.12"
voicevox-core @ https://github.com/VOICEVOX/voicevox_core/releases/download/0.14.3/voicevox_core-0.14.3+cpu-cp38-abi3-macosx_10_7_x86_64.whl ; platform_machine == "x86_64" and sys_platform == "darwin" and python_version >= "3.10" and python_version < "3.12"
voicevox-core @ https://github.com/VOICEVOX/voicevox_core/releases/download/0.14.3/voicevox_core-0.14.3+cpu-cp38-abi3-macosx_11_0_arm64.whl ; platform_machine == "arm64" and sys_platform == "darwin" and python_version >= "3.10" and python_version < "3.12"
voicevox-core @ https://github.com/VOICEVOX/voicevox_core/releases/download/0.14.3/voicevox_core-0.14.3+cuda-cp38-abi3-win_amd64.whl ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "win32"
vstreamer-protos @ https://github.com/sondeko143/vstreamer-protos/releases/download/main-f8b53233/vstreamer_protos-0.1.0-py3-none-any.whl ; python_version >= "3.10" and python_version < "3.12"
